.bg-primary-c{
  background-color: #7453AB;
}

.bg-secondary-c{
  background: rgba(150, 137, 165, 0.23);
}

.color-primary{
  color: #7453AB;
}

.hr-bottom{
  border: 2px solid #7453AB;
  width: 48px;
}

.padding-lg{
  padding: 34px;
}

.padding-md{
  padding: 27px;
}

.float-right{
  right: 0;
}

.float-left{
  float: left;
}

.wrapper{
  font-family: 'IBM Plex Sans', sans-serif;
}

.navbar-logo{
  width: 100px;
}

.card-default{
  width: 214px;
  border-radius: 22px;
}

.card-image{
  padding: 12px 16px;
  height: 238px;
}

